{% extends "base.html" %}
 
{% block title %}服务器监控平台{% endblock %}
 
{% block page_content %}
    <table class="table table-bordered">
    <thead>
        <tr>
            <th>序号</th>
            <th>IP地址</th>
            <th>服务</th>
            <th>是否在线</th>
        </tr>
    </thead>
    <tbody id='result'></tbody>
    </table>
    	
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(function () {
        getData()

        setInterval("getData()", 3000)
    })

    function getData() {
        $.get('http://172.25.0.1:5000/api', function (e) {
            var html = ''
            for (var i = 0; i < e.data.length; i++) {
                html += '<tr>'
                html += '<td>' + e.data[i][0] + '</td>'
                html += '<td>' + e.data[i][1] + '</td>'
                html += '<td>' + e.data[i][2] + '</td>'
                if (e.data[i][3] == '离线') {
                    html += '<td style="color: red">' + e.data[i][3] + '</td>'
                } else {
                    html += '<td style="color: green">' + e.data[i][3] + '</td>'
                }
                html += '</tr>'
            }
            $('#result').html(html)
        }, 'json')
    }
</script>
 
{% endblock %}